body {
  background-color: rgb(253, 251, 251);
  font-family: 'Alegreya', serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  margin: 0px 10px;
  padding: 10px 190px;
  border: 3px solid green;
  background-color: #2fff7f;
}

#titulo {
  font-size: 35px;
}

#minha_foto {
  width: 200px;
  margin-top: 130px;
  margin-left: 10px;
  border-radius: 20px;
}

#licoes_aprendidas {
  color: rgb(0, 104, 40);
}

#licoes_a_aprender {
  color: rgb(129, 20, 20);
}

#rodape {
  margin-left: 10px;
}

.tabela, .tabela th {
  color: rgb(0, 104, 40);
  margin-left: 10px;
}

.testimony {
  margin-left: 10px;
  margin-right: 20px;
}

.description {
  margin-right: 10px;
}

.testimony, .description {
  line-height: 30px;
  text-align: justify;
}

.lado-esquerdo, .lado-direito {
  display: inline-block;
  width: 350px;
}