body {
  background-color: rgb(253, 251, 251);
  font-family: 'Alegreya', serif;
  margin: 0px;
}

#cabecalho {
  position: fixed;
  z-index: 1;
  top: 0;
  border: 3px solid green;
  background-color: #2fff7f;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

#titulo {
  font-size: 35px;
  text-align: center;
}

#minha_foto {
  width: 200px;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 100px;
  border-radius: 20px;
  float: left;
  position: fixed;
}

#licoes_aprendidas {
  color: rgb(0, 104, 40);
  float: left;
  margin-left: 210px;
  margin-top: 100px;
  height: 200px;
  position: relative;
}

#licoes_a_aprender {
  color: rgb(129, 20, 20);
  height: 400px;
}


#rodape {
  margin-left: 10px;
}

.tabela, .tabela th {
  color: rgb(0, 104, 40);
  margin-left: 10px;
}

.testimony {
  margin-left: 10px;
  margin-right: 20px;
}

.description {
  margin-right: 10px;
}

.testimony, .description {
  line-height: 30px;
  text-align: justify;
}

.lado-esquerdo {
  display: inline-block;
  width: 350px;
  float: left;
  height: 400px;
}

.lado-direito {
  display: inline-block;
  width: 350px;
  height: 400px;
}
